{% extends "base.html" %}

{% block content %}

<table class="header">
  <tr>
    <td colspan="2" rowspan="2" class="width-auto">
      <h1 class="title">{{ page.title }}</h1>
      <span class="subtitle">{{ page.description }}</span>
    </td>
    <th>Version</th>
    <td class="width-min">{{ page.extra.version }}</td>
  </tr>
  <tr>
    <th>Updated</th>
    <td class="width-min"><time style="white-space: pre;">{{ page.date }}</time></td>
  </tr>
  <tr>
    <th class="width-min">Author</th>
    <td class="width-auto"><cite><a href={{ config.base_url }}>{{ config.author }}</a></cite></a></td>
    <th class="width-min">License</th>
    <td>MIT</td>
  </tr>
</table>
<label class="debug-toggle-label"><input type="checkbox" class="debug-toggle" /> Debug mode</label>
<div class="debug-grid"></div>

<!-- <div class="abstract">
<div class="abstract-title">$abstract-title$</div>
$abstract$
</div> -->

{% if page.toc %}
<h2 id="toc-title">Contents</h2>
<ul>
    {% for h1 in page.toc %}
        <li>
            <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
            {% if h1.children %}
                <ul>
                    {% for h2 in h1.children %}
                        <li>
                            <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
  </ul>
{% endif %}

{{ page.content | safe }}
{% endblock content %}